.products__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 7px;
    border: 1px solid white;
    width: 28.8%;
}

.products__item__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.products__item__price {
    color: chartreuse;
}

.products__item__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .products__item {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .products__item {
        width: 100%;
    }
}